.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: var(--container-color);
    height: 100%;
}

.left-section h3{
    color: var(--first-color);
}

.line{
    width: 100%;
    height: 1px;
    background-color: rgb(204, 204, 204);
    position: absolute;
    bottom: 0;
    left: 0;
}

.search-btn{
    background-color: var(--first-color);
    border: none;
}

